* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;

    --gray-100: #e1e1e6;
    --gray-300: #a8a8b3; 
    --gray-500: #29292e; 
    --gray-550: #1f2729; 
    --gray-700: #121214; 

    --cyan-500: #61dafb; 
    --yellow-500: #eba417; 
}

/*-------Tamanho IPAD--------*/

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

/*-------Tamanho MOBILE--------*/

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}


body {
    background: var(--gray-700);
    color: var(--white);
}

body, input, textarea, select, button{
    font: 400 1rem "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}